/* --- IMPORTS MUST GO FIRST --- */
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* --- Now  CSS rules --- */
body {
  background-color: var(--color-gray-900);
}

:root {
  font-family: "Geist Mono", monospace;
}

.font-cory {
  font-family: "Inter";
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* AmbientBackground.css */
.bg-dark {
  background: linear-gradient(270deg, #0f0f1a, #1a1a40, #4b0082, #111);
  background-size: 800% 800%;
  animation: gradient-slide 10s ease infinite;
}

.bg-light {
  background: linear-gradient(270deg, #fbc2eb, #a6c1ee, #f8ffae, #f6d365);
  background-size: 800% 800%;
  animation: gradient-slide 10s ease infinite;
}

@keyframes gradient-slide {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
